<h1>Bienvenue sur ton espace <%= @user.first_name  %> </h1></br>

<%= link_to "Update your profile", edit_user_path(current_user), class:"btn btn-primary p-2" %>
<%= link_to "Change password", edit_user_registration_path, class:"btn btn-primary p-2" %></br></br>

<ul class="list-group">
  <li class="list-group-item"><strong>First name:</strong> <%= @user.first_name %> </li>
  <li class="list-group-item"><strong>Last name:</strong> <%= @user.last_name %> </li>
  <li class="list-group-item"><strong>Email:</strong> <%= @user.email %> </li>
  <li class="list-group-item"><strong>Description:</strong> <%= @user.description %></li>
  <li class="list-group-item"><strong>Avatar actuel:</strong> 
    <%if @user.avatar.attached?%>
    <%= image_tag resize_avatar(@user, '250x150'), alt: 'avatar' %>
    <%else%>
    <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
    <%end%>
   </li>
</ul>
</br></br>

<h1>Voilà tous tes évènements en attente de validation:</h1>

<div class="list-group">
    <% @user.organized_events.each do |event| %>
        <% if pending(event) %>
            <%= link_to "#{event.title}", event_path(event.id), class: "list-group-item list-group-item-action" %>
        <% end %>
    <% end %>
</div>
</br></br>

<h1>Voilà tous tes évènements acceptés:</h1>

<div class="list-group">
    <% @user.organized_events.each do |event| %>
        <% if accepted(event) %>
            <%= link_to "#{event.title}", event_path(event.id), class: "list-group-item list-group-item-action" %>
        <% end %>
    <% end %>
</div>