<div class="jumbotron">
  <h1 class="display-4">Salut, bienvenue sur HackBrite!</h1>
  <p class="lead">(Le site qui veut imiter EventBrite, mais avec un budget français)</p>
  <hr class="my-4">
  <p>Crée de super évènements et invite tous tes potos pour faire la teuf. Yeah..</p>
  <p class="lead">
    <%= link_to "Créer un évènement", new_event_path, class:"btn btn-primary"  %>
  </p>
</div>

<div class="card-deck">
 <% @events.each do |event| %>
 <div class="col-4 justify-content-around mb-4 mt-2">
  <div class="card">
    <div class="card-img-top">
      <% if event.event_pic.attached? %>
        <%= image_tag resize(event, '250x150')%>
        <% end %>
    </div>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
    <div class="card-body">
      <h5 class="card-title"><%= event.title %></h5>
      <p class="card-text"><%= event.description %></p>
    </div>
    <div class="card-footer">
    <%= link_to "En savoir plus?", event_path(event.id), class: "btn", method: "get" %>
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <% end %>
  </div>
</div>