
<form>
<%= form_tag url_for(action: 'create'), method: "post" do %>
  <div class="form-row">
    <div class="form-group col-md-6">
          <%= label_tag 'Title' %></br>
          <%= text_field_tag 'title', @event.title, class: "form-control", placeholder: "A nice title for your event" %></br></br>
    </div>
    <div class="form-group col-md-6">
          <%= label_tag 'Start Date' %></br>
          <%= text_field_tag 'start_date', @event.start_date, class: "form-control" , placeholder: "Please use format DD/MM/YYY"%></br></br>
    </div>
  </div>
  <div class="form-group">
          <%= label_tag 'Description' %></br>
          <%= text_area_tag 'description', @event.description, class: "form-control", placeholder: "What kind of event?" %></br></br>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
          <%= label_tag 'Price' %></br>
          <%= text_field_tag 'price', @event.price, class: "form-control", placeholder: "Which price?" %></br></br>
    </div>
    <div class="form-group col-md-4">
          <%= label_tag 'Duration' %></br>
          <%= text_field_tag 'duration', @event.duration, class: "form-control", placeholder: "Event duration (5min steps)" %></br></br>
    </div>
    <div class="form-group col-md-4">
          <%= label_tag 'Location' %></br>
          <%= text_field_tag 'location', @event.location, class: "form-control", placeholder: "in which city?" %></br></br>
      <%# <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Paris</option>
        <option>Lille</option>
        <option>Nice</option>
        <option>Nantes</option>
      </select> %>
    </div>
  </div>
  <%= submit_tag "Create event", class: "btn btn-primary" %>
<% end %>
</form>