<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %> !</h1>
    <p>
      Tu te rappelles de l'évènement <strong><%= @event.title %></strong> que tu as créé le <%= @event.created_at %> ?</p>
    <p>
      Et bien quelqu'un vient de s'y inscrire, incroybale non? </br>
      Il s'agit de <strong><%= @user.first_name %> <%= @user.last_name %></strong>.
    </p>
    <p>
      Encore bravo champion.
    </p>
    <p> Allez, bisous et à très vite sur HackBrite.fr !
  </body>
</html>