<h1>Admin::Users#new</h1>
<p>Find me in app/views/admin/users/new.html.erb</p>
<h1>Crée un utilisateur</h1>

<%= form_for [:admin, @user] do |f| %>
  <div class="form-group">
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'Prénom'%>
    <%= f.text_field :last_name, class: 'form-control', placeholder: 'Nom'%>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description'%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password' %>
  </div>

  <div class="form-group">
	<button type="submit" class="btn btn-secondary"> Enregistrer </button>
  </div>
<% end %>